In [20]:
# Libraries and data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#load the data
#YYYY-MM-DD
df = pd.read_csv('../nyc_data.csv')
df.head()

,Date,Demand,Easter,Thanksgiving,Christmas,Temperature,Marketing
0,1/1/2015,720.000885,0,0,0,3.68,41.305
1,1/2/2015,581.276773,0,0,0,4.73,131.574
2,1/3/2015,754.117039,0,0,0,7.23,162.700
3,1/4/2015,622.252774,0,0,0,10.96,160.281
4,1/5/2015,785.373319,0,0,0,6.92,51.077

In [21]:
#Rename variable
df = df.rename(columns = {'Demand': 'y',
                          'Date': 'ds'})
df.head(1)

,ds,y,Easter,Thanksgiving,Christmas,Temperature,Marketing
0,1/1/2015,720.000885,0,0,0,3.68,41.305

In [27]:
# Date variable
df.ds = pd.to_datetime(df.ds,
               format  = "%m/%d/%Y")
df.ds

0      2015-01-01
1      2015-01-02
2      2015-01-03
3      2015-01-04
4      2015-01-05
          ...
2187   2020-12-27
2188   2020-12-28
2189   2020-12-29
2190   2020-12-30
2191   2020-12-31
Name: ds, Length: 2192, dtype: datetime64[ns]

# Holidays

In [32]:
# Easter
dates = pd.to_datetime(df[df.Easter == 1].ds)
easter = pd.DataFrame({"holiday": "easter",
                       "ds": dates,
                       "lower_window": -5,
                       "upper_window": 2})

     holiday         ds  lower_window  upper_window
94    easter 2015-04-05            -5             2
451   easter 2016-03-27            -5             2
836   easter 2017-04-16            -5             2
1186  easter 2018-04-01            -5             2
1571  easter 2019-04-21            -5             2
1928  easter 2020-04-12            -5             2

In [39]:
# Thanksgiving
dates = pd.to_datetime(df[df.Thanksgiving == 1].ds)
thanksgiving = pd.DataFrame({"holiday": "thanksgiving",
                       "ds": dates,
                       "lower_window": -3,
                       "upper_window": 6})

In [40]:
thanksgiving

           holiday         ds  lower_window  upper_window
329   thanksgiving 2015-11-26            -3             6
693   thanksgiving 2016-11-24            -3             6
1057  thanksgiving 2017-11-23            -3             6
1421  thanksgiving 2018-11-22            -3             6
1792  thanksgiving 2019-11-28            -3             6
2156  thanksgiving 2020-11-26            -3             6

In [41]:
# Combining events
holidays = pd.concat([easter, thanksgiving])
holidays

           holiday         ds  lower_window  upper_window
329   thanksgiving 2015-11-26            -3             6
693   thanksgiving 2016-11-24            -3             6
1057  thanksgiving 2017-11-23            -3             6
1421  thanksgiving 2018-11-22            -3             6
1792  thanksgiving 2019-11-28            -3             6
2156  thanksgiving 2020-11-26            -3             6
329   thanksgiving 2015-11-26            -3             6
693   thanksgiving 2016-11-24            -3             6
1057  thanksgiving 2017-11-23            -3             6
1421  thanksgiving 2018-11-22            -3             6
1792  thanksgiving 2019-11-28            -3             6
2156  thanksgiving 2020-11-26            -3             6

In [43]:
df = df.drop(["Easter", "Thanksgiving"], axis = 1)

In [44]:
df.head(0)

Empty DataFrame
Columns: [ds, y, Christmas, Temperature, Marketing]
Index: []